

{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
        <ul{{ attributes.addClass('navbar-nav mr-auto') }}>

        {% for item in items %}
        <li{{ item.attributes.addClass('nav-item') }}>
            
             {% if item.title == 'Home' %}
             {# {{ item.attributes.addClass('active') }} #}
             {{ link(item.title, item.url, { 'class':['nav-link active']}) }}
               {%else%}
               {{ link(item.title, item.url, { 'class':['nav-link']}) }}
              {% endif %}
            {# {{ link(item.title, item.url) }} #}
            {# {{ link(item.title, item.url.setOptions({'set_active_class' : TRUE, 'attributes' : {'class' : 'nav-link'}})) }} #}
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
        </li>
        {% endfor %}
    {% else %}
        <ul class="main-nav__sub js-nav-submenu ">

        {% for item in items %}
        <li{{ item.attributes.addClass('main-nav__sub-item') }}>
            {{ link(item.title, item.url) }}
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
        </li>
        {% endfor %}
    {% endif %}
    </ul>
  {% endif %}
{% endmacro %}